/* src/styles/fonts.css */
@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/Inter_18pt-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/RobotoCondensed-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;

  }